<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Hasta_Kayıt.Properties.Settings.hasta_kayitConnectionString"
            connectionString="Data Source=DESKTOP-4EIAID8\MYSQLSERVER;Initial Catalog=hasta_kayit;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Hasta_Kayıt.Properties.Settings.hasta_kayıtConnectionString"
            connectionString="Data Source=DESKTOP-4EIAID8\MYSQLSERVER;Initial Catalog=hasta_kayıt;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>